/* paint canvas */
#paint-obj {
  width: 100vw;
  height: 100vh;
}



/* what bugs me */
#bug-div {
  width: 100vw;
  height: 90vh;
}

#bug-div > h1 {
  text-align: center;
  padding-top: 10px;
  margin: 0;
}

#bug-obj {
  display: block;
  margin: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

/* [class*="bugsme-"] { THIS IS THE INPUT TEXT SELECTOR
} */

.topRowBug > img {
  position: absolute;
  width: 7vw;
}

.bottomRowBug > img {
  position: absolute;
  width: 7vw;
}



/* Stinkin' Thinkin' Gang DIV */
#gangMainDiv {
  height: 90vh;
  border-top: 2px solid green;
}

#gangWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(22vh, auto);
  margin: 10px 20px 10px 20px;
}

[class*="gangDiv-"] {
  display: flex;
  align-items: center;
}

#gangMainDiv > h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

#gangMainDiv > h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0px;
  text-align: center;
  color: green;
}

[class*="gangDiv-"] > span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  padding-right: 6px;
}

[class*="gangImg"] {
  padding: 6px;
  -webkit-filter: drop-shadow(1px 1px 0 green)
                drop-shadow(-1px -1px 0 green);
  filter: drop-shadow(2px 2px 0 green) 
          drop-shadow(-2px -2px 0 green);
  
}

.gangImg-iwannitnow {
  height: 15vh;
}

.gangImg-biggsBigger {
  height: 18vh;
}

.gangImg-eencyWeency {
  height: 13vh;
}

.gangImg-lilFib {
  height: 17vh;
}

.gangImg-nameitBlameit {
  height: 16vh;
}

.gangImg-judgeBFore {
  height: 17vh;
}


/* Emotions Activity */
.feelingsDiv {
  height: 90vh;
  display: flex;
}

.feelings-body {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
}

.feelings-body > h2 {
  padding-bottom: 30px;
  font-family: fantasy;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}


.feelings-wrapper {
  display: grid;
  width: 80vw;
  height: 85vh;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: 5px 5px 10px;
  align-items: end;
}

.feelings-wrapper > img {
  width: 6.5vw;
  max-height: 14vh;
}

.feelings-wrapper > img:hover {
  width: 7.5vw;
  max-height: 14vh;
}

.feelingsDiv > p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .6em;
  position: absolute;
  bottom: 0;
  padding-left: 5px;
}


/* SELF CONTROL ACTIVITY */
.self-control-div {
  width: 100vw;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  border-top: 3px solid rgb(153, 143, 199);
  /* border-top: 3px solid rgb(137, 84, 188); */
  background-color: #CCCCCC;
}

.self-control-wrapper {
  width: 80vw;
  height: 75vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}


.self-control-div > h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  color: rgb(40, 38, 44);
}

[class*="self-control-step-"] {
  width: 17vw;
  margin: 5px;
}

[class*="self-control-step-"] > img {
  max-width: 16vw; 
  max-height: 30vh; 
}

.self-control-step-three > img {
  padding-top: 5vw;
}

[class*="self-control-step"] > div > h5 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 10px 0px;
  font-size: 1em;
  color: rgb(40, 38, 44);
}

[class*="self-control-step"] > div > span {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #538584;
  /* color: #8A8956; */
}

[class*="self-control-step"] > div > ul {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 8px 0px;
  padding-left: 30px;
  color: rgb(40, 38, 44);
}

/* Problem Solving Activity */
.problem-solve-div {
  width: 100vw;
  height: 90vh;
  background-color: rgb(1, 128, 129);
}

.problem-solve-wrapper {
  margin-left: -20vw;
  left: 50vw;
  z-index: 2;
  position: absolute;
  width: 40vw;
}

#problem-solve-left {
  width: 25vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

#problem-solve-right {
  width: 30vw;
  position: absolute;
  bottom: 0;
  right: 0;
}

.problem-solve-div > h1 {
  font-family: 'Slabo 27px', serif;
  font-size: 3em;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 5px;
  margin: 0;
  color: #3d405b;
  text-decoration: underline;
}

[class*="problem-solve-step-"] {
  font-family: 'Slabo 27px', serif;
  font-size: 1.4em;
  color: whitesmoke;
  /* color: #f2cc8f; */
  margin-top:30px;
  margin-bottom:30px;
}


/* Assertive Communication Activity */
.assertive-comm-div {
  width: 100vw;
  height: 90vh;
  display: flex;
  border-top: 2px solid rgb(7, 63, 203);
}

.assertive-comm-wrapper {
  margin: auto;
  /* border: 5px;  */
  /* border-radius: 10%; */
}

#assert-comm-img {
  width: 50vw;
  object-fit: cover;
}

.assertive-comm-wrapper > h1 {
  font-family: 'Barlow', sans-serif;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}


[class*="assertive-comm-"] {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
}

/* [class*="assertive-comm"] p {
  color: red;
} */

[class*="assertive-comm"] span {
  /* color: blue; */
  vertical-align: bottom;
}

[class*="assert-comm-txt"], [class*="assertive-comm-txt"] {
  border-bottom: 2px solid rgb(21, 82, 213);
  height: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  min-width: 400px;
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

[class*="assert-comm-txt"]:focus, [class*="assertive-comm-txt"]:focus {
  outline: none;
  border-bottom: 3px solid lightskyblue;
  background-color: whitesmoke;
  margin-bottom: 2px;
}

.assertive-comm-3 {
  margin-top: 8px;
}

.assert-end1 {
  margin-top: 20px;
  margin-bottom: 8px;
}

.assert-end2 {
  margin: 0;
}

.assert-end3 {
  margin-top: 5px;
}

.assert-comm-txt4, .assert-comm-txt7 {
  margin-top: 16px;
}


/* I Can Control Activity */
#ican-control-div {
  width: 100vw;
  height: 90vh;
}

