/* paint canvas */
#paint-obj {
  width: 100vw;
  height: 100vh;
}



/* what bugs me */
#bug-obj {
  display: block;
  margin: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

/* [class*="bugsme-"] { THIS IS THE INPUT TEXT SELECTOR
} */

.topRowBug > img {
  position: absolute;
  width: 10vw;
}

.bottomRowBug > img {
  position: absolute;
  width: 10vw;
}



/* Stinkin' Thinkin' Gang DIV */
#gangMainDiv {
  height: 90vh;
}

#gangWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(22vh, auto);
  margin: 10px 20px 10px 20px;
}

[class*="gangDiv-"] {
  display: flex;
  align-items: center;
}

#gangMainDiv > h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

#gangMainDiv > h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0px;
  text-align: center;
  color: green;
}

[class*="gangDiv-"] > span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  padding-right: 6px;
}

[class*="gangImg"] {
  padding: 6px;
  -webkit-filter: drop-shadow(1px 1px 0 green)
                drop-shadow(-1px -1px 0 green);
  filter: drop-shadow(2px 2px 0 green) 
          drop-shadow(-2px -2px 0 green);
  
}

.gangImg-iwannitnow {
  height: 15vh;
}

.gangImg-biggsBigger {
  height: 18vh;
}

.gangImg-eencyWeency {
  height: 14vh;
}

.gangImg-lilFib {
  height: 17vh;
}

.gangImg-nameitBlameit {
  height: 16vh;
}

.gangImg-judgeBFore {
  height: 17vh;
}


/* Emotions Activity */
.feelingsDiv {
  height: 90vh;
  display: flex;
}

.feelings-body {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
}

.feelings-body > h2 {
  padding-bottom: 30px;
  font-family: fantasy;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}


.feelings-wrapper {
  display: grid;
  width: 80vw;
  height: 85vh;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: 5px 5px 10px;
  align-items: end;
}

.feelings-wrapper > img {
  width: 6.5vw;
  max-height: 14vh;
}

.feelings-wrapper > img:hover {
  width: 7.5vw;
  max-height: 14vh;
}

.feelingsDiv > p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .6em;
  position: absolute;
  bottom: 0;
  padding-left: 5px;
}


/* SELF CONTROL ACTIVITY */
.self-control-div {
  width: 100vw;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
}

.self-control-wrapper {
  width: 80vw;
  height: 75vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.self-control-div > h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
}

[class*="self-control-step-"] {
  width: 17vw;
  margin: 5px;
}

[class*="self-control-step-"] > img {
  width: 150px; /*TEMPORARY*/
  height: 150px; /*TEMPORARY*/
  /* margin-left: auto;
  margin-right: auto; */
}

[class*="self-control-step"] > div > h5 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 10px 0px;
  font-size: 1em;
  color: red;
}

[class*="self-control-step"] > div > span {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blue;
}

[class*="self-control-step"] > div > ul {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 8px 0px;
  padding-left: 30px;
  color: green;
}

/* Problem Solving Activity */
.problem-solve-div {
  width: 100vw;
  height: 90vh;
  background-color: rgb(54, 126, 128)
}

.problem-solve-wrapper {
  /* background-image: url(../../src/images/problem-solve-left.jpeg) no-repeat, url(../../src/images/problem-solve-right.jpeg) no-repeat; */
  /* background-image: url("../../src/images/problem-solve.jpg"); */
  /* background-size: cover;
  background-repeat: no-repeat; */
}

[class*="problem-solve-step-"] {
  
}
