/* paint canvas */
#paint-obj {
  width: 100vw;
  height: 100vh;
}



/* What Bugs Me */
#bug-div {
  width: 100vw;
  height: 90vh;
}

#bug-div > h1 {
  text-align: center;
  padding-top: 10px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#bug-obj {
  display: block;
  margin: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: 70vh;
  width: 60vw;
}

.topRowBug > img, .bottomRowBug > img {
  position: absolute;
  width: 5vw;
}

[class*="bugsme-"], [class*="ibug-"] {
  position: absolute;
  height: 20px;
  width: 250px;
  border: none;
  border-bottom: 1.5px solid rgb(211, 203, 203);
  font-size: 1.2em;
}

[class*="bugsme-"]:focus, [class*="ibug-"]:focus {
  outline: none;
  border-bottom: 1.5px solid green;
}

.bugsme-0, .ibug-0 { left: 5vw; top: 25vh; }
.bugsme-1, .ibug-1 { left: 5vw; top: 50vh; }
.bugsme-2, .ibug-2 { left: 5vw; bottom: 13vh; }
.bugsme-3, .ibug-3 { right: 5vw; top: 25vh; }
.bugsme-4, .ibug-4 { right: 5vw; top: 50vh; }
.bugsme-5, .ibug-5 { right: 5vw; bottom: 13vh; }



/* Stinkin' Thinkin' Gang DIV */
#gangMainDiv {
  height: 90vh;
  border-top: 2px solid green;
}

#gangWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(22vh, auto);
  margin: 10px 20px 10px 20px;
}

[class*="gangDiv-"] {
  display: flex;
  align-items: center;
}

#gangMainDiv > h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

#gangMainDiv > h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0px;
  text-align: center;
  color: green;
}

[class*="gangDiv-"] > span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  padding-right: 6px;
}

[class*="gangImg"] {
  padding: 6px;
  -webkit-filter: drop-shadow(1px 1px 0 green)
                drop-shadow(-1px -1px 0 green);
  filter: drop-shadow(2px 2px 0 green) 
          drop-shadow(-2px -2px 0 green);
  
}

.gangImg-iwannitnow {
  height: 15vh;
}

.gangImg-biggsBigger {
  height: 18vh;
}

.gangImg-eencyWeency {
  height: 13vh;
}

.gangImg-lilFib {
  height: 17vh;
}

.gangImg-nameitBlameit {
  height: 16vh;
}

.gangImg-judgeBFore {
  height: 17vh;
}


/* Emotions Activity */
.feelingsDiv {
  height: 90vh;
  display: flex;
  border-top: 2px solid rgb(229, 208, 2);
}

.feelings-body {
  width: 30vw;
  padding-right: 10px;
}

.feelings-body > h2 {
  margin-bottom: 5px;
  font-family: fantasy;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.feelings-body > img {
  display: block;
  max-height: 45vh;
  margin-left: auto;
  margin-right: auto;
}

.feelings-body > div {
  width: 15vw;
  height: 22vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.feelings-body > div > img {
  max-height: 20vh;
  display: inline-block;
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
}

.feelings-wrapper {
  display: grid;
  width: 80vw;
  height: 85vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 5px 5px 10px;
  align-items: center;
  justify-items: center;
}

.feelings-wrapper > img {
  width: 12vw;
}

.feelings-wrapper > img:hover {
  cursor: pointer;
  width: 15vw;
  max-height: 23vh;
}



/* SELF CONTROL ACTIVITY */
.self-control-div {
  width: 100vw;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  border-top: 3px solid rgb(153, 143, 199);
  /* border-top: 3px solid rgb(137, 84, 188); */
  background-color: #CCCCCC;
}

.self-control-wrapper {
  width: 80vw;
  height: 75vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}


.self-control-div > h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  color: rgb(40, 38, 44);
}

[class*="self-control-step-"] {
  width: 17vw;
  margin: 5px;
}

[class*="self-control-step-"] > img {
  max-width: 16vw; 
  max-height: 30vh; 
}

.self-control-step-three > img {
  padding-top: 5vw;
}

[class*="self-control-step"] > div > h5 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 10px 0px;
  font-size: 1em;
  color: rgb(40, 38, 44);
}

[class*="self-control-step"] > div > span {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #538584;
  /* color: #8A8956; */
}

[class*="self-control-step"] > div > ul {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 8px 0px;
  padding-left: 30px;
  color: rgb(40, 38, 44);
}

/* Problem Solving Activity */
.problem-solve-div {
  width: 100vw;
  height: 90vh;
  background-color: rgb(1, 128, 129);
}

.problem-solve-wrapper {
  margin-left: -20vw;
  left: 50vw;
  z-index: 2;
  position: absolute;
  width: 40vw;
}

#problem-solve-left {
  width: 25vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

#problem-solve-right {
  width: 30vw;
  position: absolute;
  bottom: 0;
  right: 0;
}

.problem-solve-div > h1 {
  font-family: 'Slabo 27px', serif;
  font-size: 3em;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 5px;
  margin: 0;
  color: #3d405b;
  text-decoration: underline;
}

[class*="problem-solve-step-"] {
  font-family: 'Slabo 27px', serif;
  font-size: 1.4em;
  color: whitesmoke;
  /* color: #f2cc8f; */
  margin-top:30px;
  margin-bottom:30px;
}


/* Assertive Communication Activity */
.assertive-comm-div {
  width: 100vw;
  height: 90vh;
  border-top: 2px solid rgb(7, 63, 203);
}

.assertive-comm-wrapper {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.assertive-comm-div > h1 {
  font-family: 'Barlow', sans-serif;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}

[class*="assert-sec-"] {
  width: 30vw;
  font-family: 'Barlow', sans-serif;
  text-align: center;
  padding: 10px;
}

[class*="assert-sec-"] > h3 {
  margin-top: 0;
}

[class*="assert-sec-"] > p {
  position: relative;
  font-size: 12px;
  width: 20vw;
  min-height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 4px;
}

/* [class*="assert-sec-"] > p:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 100px;
  border: 25px solid;
  border-color: #666 transparent transparent #666;
}

[class*="assert-sec-"] > p:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  top: 100px;
  border: 15px solid;
  border-color: #fff transparent transparent #fff;
} */

.assert-sec-2 {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

[class*="assert-sec-"] > img {
  max-width: 25vw;
  max-height: 30vh;
  margin-left: auto;
  margin-right: auto;
}

  /* TAB 2 of assertive communication activity */
  [class*="assert-sec-"].tab-2 {
    border: 1px solid gray;
    width: 20vw;
    height: 70vh;
    margin-left: 5px;
    margin-right: 5px;
  }

  .assertive-comm-wrapper > p {
    position: absolute;
  }

  /* TEMPORARY LOCATION */
  #ac-tab-2-sc-0 { top: 20px; left: 10px; }
  #ac-tab-2-sc-1 { top: 40px; left: 10px; }
  #ac-tab-2-sc-2 { top: 60px; left: 10px; }
  #ac-tab-2-sc-3 { top: 80px; left: 10px; }
  #ac-tab-2-sc-4 { top: 100px; left: 10px; }
  #ac-tab-2-sc-5 { top: 120px; left: 10px; }

    /* TAB 3 of assertive communication activity */
    [class*="ac-tab3-"] {
      font-family: 'Chilanka', cursive !important;
      font-size: 14px;
    }

    .assertive-comm-wrapper.tab-3 {
      display: block;
    }

    [class*="assertive-comm"].tab-3 p {
      color: red;
    }

    [class*="ac-tab3-"] span {
      color: blue;
      vertical-align: bottom;
    }

    [class*="ac-tab3-txt"], [class*="ac-tab3-sec2-txt"] {
      border-bottom: 2px solid rgb(21, 82, 213);
      height: 20px;
      border-top: none;
      border-left: none;
      border-right: none;
      min-width: 400px;
      margin-left: 10px;
      margin-top: 3px;
      margin-bottom: 3px;
    }

    [class*="ac-tab3-txt"]:focus, [class*="ac-tab3-sec2-txt"]:focus {
      outline: none;
      border-bottom: 3px solid lightskyblue;
      background-color: whitesmoke;
      margin-bottom: 2px;
    }

    .tab-3 > p {  
      margin-top: 8px;
      position: static;
    }

    .ac-tab3-end1 {
      margin-top: 20px;
      margin-bottom: 8px;
    }

    .ac-tab3-end2 {
      margin: 0;
    }

    .ac-tab3-end3 {
      margin-top: 5px;
    }

    .aac-tab3-txt4, .ac-tab3-txt7 {
      margin-top: 16px;
    }




/* I Can Control Activity */
#ican-control-div {
  width: 100vw;
  height: 90vh;
}

#ican-control-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cant-control-div {
  height: 80vh;
  width: 60vw;
  border: 1px solid black;
  background-color: orange;
  border-radius: 50%;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
}

.can-control-div {
  height: 50vh;
  width: 32vw;
  border: 1px solid black;
  background-color: teal;
  border-radius: 50%;
  padding-top: 15px;
  position: absolute;
  z-index: 2;
}

.cant-control-div > h3 {
  text-align: center;
  margin: 30px 0px;
}

.can-control-div > h3 {
  text-align: center;
}

#ican-control-wrapper > p {
  position: absolute;
}

[class*="control-item-"]:hover {
  cursor: pointer;
}

#ican-control-wrapper > p:nth-child(odd) { left: 3vw; } 
#ican-control-wrapper > p:nth-child(even) { right: 3vw; } 

.cant-control-div > p {
  position: relative;
  margin: 30px 0px;
}

.can-control-div > p {
  position: relative;
  margin: 20px 0px;
}

.cant-control-div > p:nth-child(2) { left: 8vw; color: blue; } 
.cant-control-div > p:nth-child(3) { left: 4vw; color: purple; } 
.cant-control-div > p:nth-child(4) { left: 2vw; color: green; } 
.cant-control-div > p:nth-child(5) { color: green; } 
.cant-control-div > p:nth-child(6) { color: green; } 
.cant-control-div > p:nth-child(7) { left: 1vw; color: red; } 
.cant-control-div > p:nth-child(8) { left: 3vw; color: green; } 
.cant-control-div > p:nth-child(9) { left: 7vw; color: blue; } 
.cant-control-div > p:nth-child(10) { top: -55vh; right: 7vw; color: blue; text-align: right; } 
.cant-control-div > p:nth-child(11) { top: -55vh; right: 4vw; color: blue; text-align: right; } 
.cant-control-div > p:nth-child(12) { top: -55vh; right: 1vw; color: yellow; text-align: right; } 
.cant-control-div > p:nth-child(13) { top: -55vh; color: green; text-align: right; } 
.cant-control-div > p:nth-child(14) { top: -55vh; color: red; text-align: right; } 
.cant-control-div > p:nth-child(15) { top: -55vh; right: 1vw; color: blue; text-align: right; } 
.cant-control-div > p:nth-child(16) { top: -55vh; right: 4vw; color: purple; text-align: right; } 
.cant-control-div > p:nth-child(17) { top: -55vh; right: 7vw; color: green; text-align: right; } 
.cant-control-div > p:nth-child(18) { top: -55vh; color: yellow; text-align: center; } 

.can-control-div > p:nth-child(2) { left: 4vw; color: yellow; } 
.can-control-div > p:nth-child(3) { left: 4vw; color: purple; } 
.can-control-div > p:nth-child(4) { left: 4vw; color: green; } 
.can-control-div > p:nth-child(5) { left: 4vw; color: black; } 
.can-control-div > p:nth-child(6) { left: 4vw; color: blue; } 
.can-control-div > p:nth-child(7) { left: 4vw; color: red; } 
.can-control-div > p:nth-child(8) { top: -33vh; right: 4vw; color: green; text-align: right; } 
.can-control-div > p:nth-child(9) { top: -33vh; right: 4vw; color: blue; text-align: right; } 
.can-control-div > p:nth-child(10) { top: -33vh; right: 4vw; color: blue; text-align: right; } 
.can-control-div > p:nth-child(11) { top: -33vh; right: 4vw; color: blue; text-align: right; } 
.can-control-div > p:nth-child(12) { top: -33vh; right: 4vw; color: yellow; text-align: right; } 
.can-control-div > p:nth-child(13) { top: -33vh; right: 4vw; color: yellow; text-align: right; } 



/* Deep Breathing Activity */
#deep-breathe-div {
  width: 100vw;
  height: 90vh;
  border-top: 2px solid lightslategray;
  background-color: whitesmoke;
}

#deep-breathe-wrapper {
  margin-left: 5vw;
  margin-right: 5vw;
}

#deep-breathe-div > h1 {
  font-family: 'Fredoka One', cursive;
  text-align: center;
  color: #484a47;
}

#deep-breathe-wrapper > section {
  font-family: 'Fredoka One', cursive;
  color: #484a47;
  display: flex;
}

#deep-breathe-wrapper > section > img {
  border-radius: 50%;
  border: 2px solid lightslategray;
  width: 27vw;
  max-height: 40vh;
  position: absolute;
  z-index: 2;
}

.deep-breathe-img-one {
  top: 12vh;
}

.deep-breathe-img-two {
  right: 5vw;
  top: 28vh;
}

.deep-breathe-img-three {
  top: 45vh;
}

#deep-breathe-wrapper > section > div {
  display: flex;
  flex-direction: column;
  border: 2px solid lightslategray;
  border-radius: 15px;
  width: 20vw;
  padding: 15px;
  font-size: 1.5em;
  position: absolute;
  margin-top: -62px;
  text-align: center;
  background-color: white;
}

#deep-breathe-wrapper > section > div:hover {
  border: 4px solid #e88873;
  cursor: pointer;
  box-shadow: 0 0 5px -1px #e88873;
  margin-top: -64px;
  margin-left: -2px;
  margin-right: -2px;
}

.deep-breathe-div-one {
  top: 34vh;
  left: 30vw;
}

.deep-breathe-div-two {
  top: 50vh;
  right: 30vw;
}

.deep-breathe-div-three {
  top: 66vh;
  left: 30vw;
}

#deep-breathe-modal {
  background-color: rgb(71, 71, 70, .8);
  color: whitesmoke;
  width: 100vw;
  height: 90vh;
  font-family: inherit;
  font-size: 5em;
  text-align: center;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 35vh;
  font-family: 'Fredoka One', cursive;
}

#deep-breathe-modal-two {
  width: 100vw;
  height: 89vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgb(241, 249, 253);
  display: flex;
  flex-direction: column;
}

#deep-breathe-modal-two > img {
  width: 60vw;
  height: 85vh;
  margin-left: auto;
  margin-right: auto;
}

#deep-breathe-modal-two > span > a {
  font-family: 'Fredoka One', cursive;
  padding-left: 10px;
  text-decoration: none;
}



/* Self Talk Activity */
#self-talk-div {
  width: 100vw;
  height: 90vh;
  display: flex;
}

#self-talk-left {
  width: 85vw;
  background-color: rgb(255, 247, 152);
  border: 1px solid blue;
  height: 100%;
}

#self-talk-right {
  width: 15vw;
  border: 1px solid red;
}

#self-talk-left-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#self-talk-left > h1 {
  font-family: 'Delius', cursive;
  font-size: 3em;
  text-align: center;
  margin: 3vh 0;
}

#self-talk-left-wrapper > img {
  width: 30vw;
}

#self-talk-left-wrapper > span {
  position: relative;
  /* width: ;
  height: ;
  font-family: ;
  border: ; */

}

#self-talk-left-wrapper > span:first-of-type { top: -40vh; left: -23vw; }
#self-talk-left-wrapper > span:nth-of-type(2) { top: -35vh; left: -20vw; }
#self-talk-left-wrapper > span:nth-of-type(3) { top: -35vh; left: -20vw; }
#self-talk-left-wrapper > span:nth-of-type(4) { top: -35vh; left: -20vw; }
#self-talk-left-wrapper > span:nth-of-type(5) { top: -35vh; left: -20vw; }
#self-talk-left-wrapper > span:nth-of-type(6) { top: -35vh; left: -20vw; }
#self-talk-left-wrapper > span:nth-of-type(7) { top: -35vh; left: -20vw; }
#self-talk-left-wrapper > span:nth-of-type(8) { top: -35vh; left: -20vw; }
#self-talk-left-wrapper > span:nth-of-type(8) { top: -35vh; left: -20vw; }
#self-talk-left-wrapper > span:nth-of-type(10) { top: -35vh; left: -20vw; }
#self-talk-left-wrapper > span:nth-of-type(11) { top: -35vh; left: -20vw; }
#self-talk-left-wrapper > span:last-of-type { top: -35vh; left: -20vw; }



#self-talk-green {
  color: green;
  font-size: 4em;
}

#self-talk-orange {
  color: orange;
  font-size: 4em;

  
  
}

#self-talk-green:hover, #self-talk-orange:hover {
  cursor: pointer;
  font-size: 4.5em;
}

