#body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#main-nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  background-color: whitesmoke;
}

#home-button {
  height: 8vh;
  border: none;
  background: transparent;
  margin-left: 5px;
}

#home-button:hover {
  /* border: 1px solid orange; */
  cursor: pointer;
}

#home-button:focus {
  outline: none;
}

#nav-buttons {
  display: flex;
  margin-left: 10px;
  /* justify-self: flex-end; */
}

#nav-buttons > button {
  border: none;
  background-color: transparent;
}

#nav-buttons > button:hover {
  cursor: pointer;
}

.fa-arrow-alt-circle-left, .fa-arrow-alt-circle-right {
  color: blue;
  font-size: 3em;
}

#main-nav h1 {
  font-family: 'Staatliches', cursive;
  color: rgb(136, 67, 100);
  font-size: 3em;
  margin: 0 20px;
  cursor: default;
}


#main {
  height: 90vh;
  width: 100vw;
}

.background {
  height: 90vh;
  width: 100vw;
  object-fit: cover;
}


/* MAIN CLICK EVENTS */
.green-car:hover, .tools:hover, .fuel:hover {
  -webkit-filter: drop-shadow(1px 1px 0 blue)
                  drop-shadow(-1px -1px 0 blue);
  filter: drop-shadow(2px 2px 0 blue) 
          drop-shadow(-2px -2px 0 blue);
  cursor: pointer;
}

.green-car {
  position: relative;
  height: 37vh;
  bottom: 40vh;
  left: 37vw;
}

.tools {
  position: absolute;
  height: 19vh;
  top: 44vh;
  left: 0;
  transform: rotate(5deg);
}

.fuel {
  position: absolute;
  height: 18vh;
  bottom: 2vh;
  left: 31vw;
}


/* MAIN CLICK DIVS */
#repair-div {
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

#recharge-div {
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}


/* ACTIVITY ICONS */
[class*="icon-"] {
  font-size: 60px;
  color: lightcoral;
  cursor: pointer;
  padding: 5px;
}

[class*="icon-"]:hover {
  font-size: 65px;
  color: rgb(231, 89, 89)
}


/* ACTIVITIES MAIN DIV */
#activity-comp { 
  position: absolute;
  top: 10vh;
  max-height: 90vh;
  width: 100vw;
  background-color: white;
}


/* initial hover */
#pointer-div {
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 10vh;
  z-index: 5;
}

#pointer-div > .fa-hand-pointer {
  font-size: 2.8em;
  position: absolute;
  color: white;
  -webkit-text-stroke: 1px black;
}

.point-tools {
  transform: rotate(-140deg) scaleX(-1);
  top: 20vh;
  left: 15vw;
  animation: point-tools 8s;
}

.point-car {
  transform: rotate(150deg);
  left: 50vw;
  top: 35vh;
  animation: point-car 7s;
}

.point-fuel {
  transform: rotate(180deg);
  left: 35vw;
  top: 55vh;
  animation: point-fuel 9s;
}

@keyframes point-tools {
  0%, 20%, 40%, 60%, 80%, 100% { 
    top: 20vh;
    left: 15vw; }
  10%, 30%, 50%, 70%, 90% { 
    top: 25vh;
    left: 12vw; }
}

@keyframes point-car {
  0%, 20%, 40%, 60%, 80%, 100% { 
    top: 35vh;
    left: 50vw; }
  10%, 30%, 50%, 70%, 90% { 
    top: 40vh;
    left: 53vw; }
}

@keyframes point-fuel {
  0%, 20%, 40%, 60%, 80%, 100% { top: 55vh; }
  10%, 30%, 50%, 70%, 90% { top: 60vh; }
  /* 0%, 35%, 70%, 100% { top: 55vh; }
  15%, 50%, 85% { top: 60vh; } */
}

#pointer-div span {
  font-family: 'Fredoka One', cursive;
  font-size: 4em;
  font-weight: 900;
  color: white;
  -webkit-text-stroke: .001em black;
  position: absolute;
  top: 18vh;
  width: 100%;
  text-align: center;
  /* left: 50vw; */
}