#body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#main-nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

#home-button {
  height: 8vh;
  border: none;
  background: transparent;
  margin-left: 5px;
}

#home-button:hover {
  /* border: 1px solid orange; */
  cursor: pointer;
}

#home-button:focus {
  outline: none;
}

#nav-buttons {
  width: 100%;
  display: flex;
  margin-left: 10px;
}

#nav-buttons > button {
  border: none;
  background-color: transparent;
}

#nav-buttons > button:hover {
  cursor: pointer;
}

.fa-arrow-alt-circle-left, .fa-arrow-alt-circle-right {
  color: blue;
  font-size: 3em;
}

#main {
  height: 90vh;
  width: 100vw;
}

.background {
  height: 90vh;
  width: 100vw;
  object-fit: cover;
}


/* MAIN CLICK EVENTS */
.green-car:hover, .tools:hover, .fuel:hover {
  -webkit-filter: drop-shadow(1px 1px 0 blue)
                  drop-shadow(-1px -1px 0 blue);
  filter: drop-shadow(2px 2px 0 blue) 
          drop-shadow(-2px -2px 0 blue);
  cursor: pointer;
}

.green-car {
  position: relative;
  height: 37vh;
  bottom: 40vh;
  left: 37vw;
}

.tools {
  position: absolute;
  height: 19vh;
  top: 44vh;
  left: 0;
  transform: rotate(5deg);
}

.fuel {
  position: absolute;
  height: 18vh;
  bottom: 2vh;
  left: 31vw;
}


/* MAIN CLICK DIVS */
#repair-div {
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

#recharge-div {
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}


/* ACTIVITY ICONS */
[class*="icon-"] {
  font-size: 60px;
  color: lightcoral;
  cursor: pointer;
  padding: 5px;
}

[class*="icon-"]:hover {
  font-size: 65px;
  color: rgb(231, 89, 89)
}




/* ACTIVITIES SECTION */
/* activity main div */
#activity-comp { 
  position: absolute;
  top: 10vh;
  max-height: 90vh;
  width: 100vw;
  background-color: white;
}






/* .slide {
  animation: slide-left-slow 1s;
  transform: translateX(0px);
  position: relative;
}

@keyframes slide-left-slow {
  from {left: 40px;}
  to {left: 0px;}
} */