/* PAINT CANVAS */
/* COLOR TOOLBAR */
#body2-wrapper {
  display: flex;
}

#canvasDiv {
  width: 70vw;
}

#paintCanvas {
  width: 100%;
  border: 1px solid blue;
  position: sticky;
  top: 0;
}

#colorToolbar {
  width: 20vw;
}

.color-bar {
  width: 100px;
  height: 50px; 
}

.currColor {
  border: 1px solid white;
  width: 98px;
  height: 48px;
}